@font-face {
  font-family: 'Switzer';
  src: url('@/assets/fonts/Switzer/Switzer-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('@/assets/fonts/Switzer/Switzer-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('@/assets/fonts/Switzer/Switzer-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('@/assets/fonts/ClashGrotesk/ClashGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('@/assets/fonts/ClashGrotesk/ClashGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('@/assets/fonts/ClashGrotesk/ClashGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

html {
    font-size: 16px;
}

:root {
    /* Colors */
    --color-bg: hsl(0, 0%, 95%);
    --color-bg-muted: hsl(0, 0%, 100%);
    --color-txt: hsl(0, 0%, 5%);
    --color-txt-muted: hsl(0, 0%, 30%);
    --color-accent: hsl(261 100% 45%);
    --color-txt-accent: hsl(0, 0%, 100%);

    --color-gray: hsla(0, 0%, 85%);

    --color-shadow: hsla(0, 0%, 95%, 0.1);

    --color-danger: hsl(0, 70%,57%);
    --color-warning: hsl(30, 95%,64%);
    --color-success: hsl(107,69%,70%);
    --color-info: hsl(209, 70%,60%);

    /* Fonts */
    --font-family-display: 'Switzer', sans-serif;
    --font-family-body: 'ClashGrotesk', sans-serif;

    /* Font Sizes */
    --font-size-h1: 3.625rem;
    --font-size-h2: 1.375rem;
    --font-size-h3: 1.125rem;
    --font-size-h4: 1.125rem;
    --font-size-p: 1.125rem;
    --font-size-small: 1rem;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Line Heights */
    --line-height-small: 1.2;
    --line-height-regular: 1.5;

    /* Spacing */
    --spacing-xxs: .25rem;
    --spacing-xs: .5rem;
    --spacing-s: .75rem;
    --spacing-m: 1rem;
    --spacing-l: 2rem;
    --spacing-xl: 4rem;
    --spacing-xxl: 6rem;

    /* Sizes */
    --size-dot: 1rem;
    --size-icon: 1.5rem;
    --size-btn: 2.75rem;

    
    --size-container: clamp(320px, calc(100dvw - 2*var(--spacing-l)), 1440px);
    --size-container-padding: 0;

    /* --size-container: clamp(320px, calc(100dvw - 2*var(--spacing-l)), 1440px); */

    --size-header: 6rem;
    --size-footer: .5dvh;

    /* Borders */
    --border-thin: 1px solid var(--color-accent);
    --border-thick: 2px solid var(--color-accent);

    /* Radius */
    --radius-s: .25rem;
    --radius-m: .5rem;
    --radius-l: .75rem;
    --radius-xl: 1.25rem;
    --radius-full: 9999px;

    /* Transitions */
    --transition-duration: .2s;
    --transition-timing: ease-in-out;

    --transition-color: color var(--transition-duration) var(--transition-timing);
    --transition-background-color: background-color var(--transition-duration) var(--transition-timing);
    --transition-shadow: box-shadow var(--transition-duration) var(--transition-timing);
    --transition-transform: transform var(--transition-duration) var(--transition-timing);
    --transition-width: width var(--transition-duration) var(--transition-timing);
    --transition-fill: fill var(--transition-duration) var(--transition-timing);
    --transition-border: border-color var(--transition-duration) var(--transition-timing);
    
    /* Z-index */
    --z-index-dropdown: 100;
    --z-index-sticky: 200;
    --z-index-modal: 300;
    --z-index-tooltip: 400;

    /* Images */
    --img-ratio-standard: 3 / 2;
    --img-ratio-wide: 16 / 9;
}

html.dark {
    /* Colors */
    --color-bg: hsl(0, 0%, 5%);
    --color-bg-muted: hsl(0, 0%, 10%);
    --color-txt: hsl(0, 0%, 95%);
    --color-txt-muted: hsl(0, 0%, 70%);
    --color-accent: hsl(251 100% 65%);
    --color-txt-accent: hsl(0, 0%, 100%);

    --color-gray: hsla(0, 0%, 20%);

    --color-danger: hsl(0, 70%,57%);
    --color-warning: hsl(30, 95%,64%);
    --color-success: hsl(107,69%,70%);
    --color-info: hsl(209, 70%,60%);
}

html {
    transition:
        var(--transition-color),
        var(--transition-background-color);
}

@media (max-width: 1024px) {
  :root {
    /* Font Sizes */
    --font-size-h1: 3rem;
    --font-size-h2: 1.25rem;
    --font-size-h3: 1.125rem;
    --font-size-h4: 1.125rem;
    --font-size-p: 1rem;
    --font-size-small: 0.9375rem;

    /* Spacing */
    --spacing-xxs: 0.2rem;
    --spacing-xs: 0.4rem;
    --spacing-s: 0.6rem;
    --spacing-m: 0.8rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 3rem;
    --spacing-xxl: 4.5rem;

    /* Sizes */
    --size-header: 5rem;

    --size-btn: 2.5rem;
  }
}

@media (max-width: 768px) {
  :root {
    /* Font Sizes */
    --font-size-h1: 2.25rem;
    --font-size-h2: 1.125rem;
    --font-size-h3: 1rem;
    --font-size-h4: 1rem;
    --font-size-p: 1.125rem;
    --font-size-small: 0.875rem;

    /* Spacing */
    --spacing-xxs: 0.15rem;
    --spacing-xs: 0.3rem;
    --spacing-s: 0.5rem;
    --spacing-m: 0.75rem;
    --spacing-l: 1rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 3rem;

    /* Sizes */
    --size-header: 4rem;

    --size-btn: 2.75rem;
  }
}

/* @media (min-width: 1800px) {
  :root {
     --size-container: 100dvw;
     --size-container-padding: 5dvw;
  }
} */